[Desktop Entry]
Name=LinPopUp
Comment=Linux enhanced port of winpopup
Comment[pl]=Port programu winpopup pod Linuxa
Icon=LinPopUp.png
Exec=LinPopUp
Terminal=0
Type=Application
# vi: encoding=utf-8
