[Desktop Entry]
Name=LinPopUp
Comment=Linux enhanced port of winpopup
Comment[pl]=Port programu winpopup pod Linuxa
Icon=LinPopUp
Exec=LinPopUp
Terminal=false
Type=Application
Categories=GTK;Network;InstantMessaging;
# vi: encoding=utf-8
